* {
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
  	height: 100%;
  	margin: 0;
}

#container {
	height: 100%;
	display: flex;
	flex-direction: row;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: azure;
}

#tools-container {
	background-color: #f2f2f2;
	border: 1px solid #cccccc;
	overflow: auto;
	width: 450px;
}

#tools-container > div  {
	padding: 10px;
}

#shape-tool {
	margin-top: 5px;
}

#polygon-node-tool > input {
	font-size:medium;
	width: 100px;
	visibility: hidden;
}

#file-tool button {
	display: inline-block;
	background-color: lightgray;
	border-radius: 5px;
	padding: 8px 10px;
	cursor: pointer;
	margin-right: 10px;
}

#file-tool button:hover {
	background-color: darkgray;
}

#user-guide {
    display: flex;
    justify-content: space-between;
}

#help, #clear {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
	border: 1px solid #cccccc;
	background-color: lightgray;
}

#help:hover {
    background-color: darkgray;
}

#clear:hover {
	background-color: #dd0000;
	color: white;
}

#help-content {
	display: none;
	max-width: 100%;
}

#help-content li {
	font-size: 14px;
}

#close {
	float: right;
	cursor: pointer;
	font-size: 50px;
}